:root {
  --blck: #191825;
  --purp: #865DFF;
  --prpnk: #E384FF;
  --pnk: #FFA3FD;
}

body {
  margin: 0;
  height: 100vh;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(180deg, var(--pnk) 0%, var(--purp) 100%);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid var(--blck);
  background: linear-gradient(90deg, var(--purp) 0%, var(--blck) 100%);
}

.nav-left {
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.nav-left > img {
  margin-right: 0.5rem;
}

.icon {
  width: 2rem;
  border: 1.5px solid var(--blck);
  border-radius: 1.5rem;

}

.search-container {
  padding-right: 1rem;
}

.input {
  height: 1.5rem;
  border-radius: 16px;
  border: 1.5px solid var(--blck);
  background-color: var(--purp);
}

::placeholder {
  color: var(--blck);
}

.btn {
  background-color: var(--purp);
  color: var(--blck);
}

.btn:hover {
  cursor: pointer;
    box-shadow: 0 0.04rem 1.4rem 0 var(--prpnk);
    transition: transform 150ms;
}

.results-container {
  display: flex;
  justify-content: space-around;
  padding: 1.5rem;
  
}
.results-songkick {
  width: 40%;
}

.results-spotify {
  width: 40%;
}

.card {
  border: 1px solid var(--blck);
  margin-top: 1rem;
  height: 10vh;
}

.card-spot {
  border: 1px solid var(--blck);
  margin-top: 1rem;
  height: 300px;
}
