:root {
  background-color: linear-gradient(90deg, var(--pnk) 0%, var(--purp) 100%);
  --blck: #191825;
  --purp: #865dff;
  --prpnk: #e384ff;
  --pnk: #ffa3fd;
}

body {
  margin: 0;
  width: 100%;
  font-family: copperplate, Times, fantasy;
  background: linear-gradient(90deg, var(--pnk) 0%, var(--purp) 100%);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 5rem;
  border-bottom: 1.5px solid var(--blck);
  background: linear-gradient(90deg, var(--purp) 0%, var(--blck) 100%);
}

.page {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.spotify {
  display: flex;
  flex-direction: column;
  width: 15%;
  align-content: center;
  position: fixed;
  right: 4vw;
}

.box {
  border: 1px solid black;
  border-radius: 0.5rem;
  height: 100%;
  width: 100%;
  margin-top: 12.5rem;
  background-color: var(--blck);
  color: white;
  font-size: 2rem;
  padding-left: 1rem;
  font-weight: bold;
  box-shadow: 12px 12px 2px 1px #1db954;
  display: grid;
}
.box > h2 {
  text-align: start;
  height: 2rem;
  padding-top: 0.2rem;
}

.spotifyLogo {
  height: 2rem;
  padding-top: 0.2rem;
}

.box > h2 {
  padding: 0;
  margin-top: 0;
}

.spotifyLogo {
  height: 2rem;
  padding-top: 0.2rem;
}

.spotify-box > a {
  font-size: 1rem;
  padding-bottom: 1rem;
  text-align: left;
  color: white;
  padding-left: 0.1rem;
}

.request {
  font-size: 1rem;
  text-align: center;
}

.request > a {
  color: white;
}

.results-bandsintown {
  margin-top: 7rem;
  width: 80%;
}

.header-bandsintown {
  margin-left: 50px;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  text-shadow: 0 0 4px white, 0 -5px 4px #ff3, 2px -10px 6px #fd3,
    -2px -15px 11px #f80, 2px -25px 18px #f20;
}
.header-bandsintown > img {
  margin-left: 1rem;
}

.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-around;
}

.card {
  width: 40%;
  height: 16rem;
  margin-bottom: 4%;
  position: relative;
  border-radius: 0.5rem;
  border: 1px solid black;
  background-color: var(--blck);
  color: var(--purp);
  box-shadow: 12px 12px 2px 1px var(--purp);
  text-align: center;
  font-size: 1.3rem;
}

.card > p {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
}

.nav-left {
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.nav-left > img {
  margin-right: 0.5rem;
}

.icon {
  width: 2rem;
  border: 1.5px solid var(--blck);
  border-radius: 1.5rem;
}

h1 {
  font-size: 2rem;
  color: var(--blck);
}

.search-container {
  padding-right: 1rem;
}

form {
  display: flex;
}

.input {
  height: 1.5rem;
  border-radius: 16px;
  border: 1.5px solid var(--blck);
  background-color: var(--purp);
}

::placeholder {
  color: var(--blck);
}

.btn {
  background-color: var(--purp);
  color: var(--blck);
}

.btn:hover {
  cursor: grab;
  box-shadow: 0 0.04rem 1.4rem 0 var(--prpnk);
  transition: transform 150ms;
}

.homepage {
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* margin-top: 10rem; */
}

.topartists {
  margin-left: 10vw;
}

.topsongs {
  margin-right: 20vw;
  padding-left: 10vw;
}

img.profpic {
  height: 10vh;
}

.art-name {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.toplist {
  display: flex;
  border: 1px solid var(--blck);
  height: 10vh;
  width: 25vw;
  background-color: var(--blck);
  color: var(--purp);
  font-size: 1.3rem;
  align-items: center;
  justify-content: space-between;
  padding-right: 0.5rem;
}

.top-artist-name {
  cursor: grab;
}

h2 {
  font-size: 1.5rem;
}

footer {
  display: block;
  z-index: 2;
  height: 30vh;
  width: 100%;
  border-top: 1.5px solid var(--blck);
  background: linear-gradient(90deg, var(--purp) 0%, var(--blck) 100%);
  margin-top: 2rem;
  text-align: center;
}

.footer-logo {
  display: block;
  align-items: center;
  padding-top: 1rem;
}

h3 {
  font-size: 1.5rem;
}

.foot {
  font-size: 1.2rem;
  margin-left: 25vw;
  margin-right: 25vw;
}

@media (max-width: 600px) {
  .results-bandsintown {
    width: 100%;
  }
  .card {
    width: 80%;
    height: 10rem;
  }
  .songs {
    margin-right: 20px;
  }

  .homepage {
    flex-wrap: wrap;
    justify-content: left;
  }

  nav {
    height: 15vh;
    display: block;
  }

  form {
    padding-left: 10vw;
  }

  h2 {
    margin-top: 6vh;
    padding-top: 2vh;
  }

  .header-bandsintown > img {
    margin-top: 6vh;
  }

  footer {
    height: 35vh;
  }
}

@media (max-width: 800px) {
  nav {
    height: 15vh;
  }
  .spotify {
    position: absolute;
    width: 50%;
    left: 10vw;
  }

  .box {
    margin-top: 20vh;
  }

  .box > h2 {
    padding: 1rem;
    margin-top: 0;
  }

  .results-bandsintown {
    width: 100%;
    margin-top: 60vh;
  }
  .toplist {
    width: 100%;
    font-size: 1rem;
    text-align: right;
  }

  .card {
    font-size: 1rem;
  }
}

@media (max-width: 1125px) {
  .spotify-box > a {
    font-size: 1rem;
  }
}
