body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid black;
}

.nav-left {
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.nav-left > img {
  margin-right: 0.5rem;
}

.icon {
  width: 2rem;
  border: 1.5px solid black;
  border-radius: 1.5rem;
}

.search-container {
  padding-right: 1rem;
}

.input {
  height: 1.5rem;
  border-radius: 16px;
  border: 1.5px solid black;
}
